.multiselect-scroll {
    &::-webkit-scrollbar {
        width: 6px;
        background-color: #0000;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #93959b;
        background-clip: content-box;
        border-radius: 4px;
    }

    &::-webkit-scrollbar-track {
        background-color: #0000;
        border-radius: 4px;
    }
}

@import './modules';

.pricing-toggle {
    background-color: #3FAED7;
    padding: 14px 5px;
    border-radius: 30px;
    display: inline-block
  }
  
  .pricing-toggle [name="pricing"] {
    display: none
  }
  
  .pricing-toggle input[type="radio"]+label {
    background-color: #3FAED7;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    user-select: none;
  }
  
  .pricing-toggle input[type="radio"]:checked+label {
    background-color: white;
    color: #00008B;
  }